---
import Layout from '../layouts/Layout.astro';
import { getEntry } from 'astro:content';
import { marked } from 'marked';
const { slug } = Astro.params;
console.log("slug: ", slug);
const starter = await getEntry('starter', slug);
console.log("starter: ", starter);
if(!starter){
  return Astro.redirect('./');
}
const { Content, headings } = await starter.render();
console.log("headings: ", headings);
let instructions;
if(starter.data.instructions){
  console.log("got instructions: ", starter.data.instructions);
  const response = await fetch(starter.data.instructions);
  const markdown = await response.text();
  instructions = marked.parse(markdown);
}
---
<Layout title={starter.data.name}>
    <!-- <h1>{starter.data.name}</h1>
    <h2>{slug}</h2> -->
    

    <fieldset>
      <legend>Summary</legend>
      {starter.data.summary}
    </fieldset>

    {starter.data.isComingSoon && <h2>Soon Come.</h2>}
    
    <!-- <Content />
    <b>test</b> -->

    <fieldset>
      <legend>Status</legend>
      {starter.data.status}
    </fieldset>


    <button>Get updates.</button>
    
    <a href="#instructions" id="instructions-link">show instructions</a>

  <dialog id="instructions-dialog">
    {starter.data.instructions && <div set:html={instructions}></div>}
    <form method="dialog">
      <button>OK</button>
    </form>
  </dialog>
    
</Layout>

<script is:inline  data-astro-rerun>
  
  document.addEventListener('astro:page-load', () => {
    // This only runs once.
    // setupStuff();
    console.log("check for hashtag");
    console.log("location.hash: ",window.location.hash);

    const instructionsLinkEl = document.querySelector("#instructions-link");
    const instructionsDialog = document.querySelector("#instructions-dialog");

    if(window.location.hash.includes("instructions")){
      instructionsDialog.showModal();
    }

    instructionsLinkEl.addEventListener("click", () => instructionsDialog.showModal());

	}, { once: true });

</script>

<style>
  fieldset {
    max-width: 475px;
    width: 100%;
    margin: auto;
  }
  body {
    text-align: center;
  }

</style>